<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.admin.mapper.FinanceMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.admin.entity.Finance" id="financeMap">
        <result property="id" column="id"/>
        <result property="updTime" column="upd_time"/>
        <result property="updUser" column="upd_user"/>
        <result property="createTime" column="create_time"/>
        <result property="creatUser" column="creat_user"/>
        <result property="income" column="income"/>
        <result property="expend" column="expend"/>
        <result property="profitLoss" column="profit_loss"/>
        <result property="coursesId" column="courses_id"/>
        <result property="type" column="type"/>
        <result property="studentId" column="student_id"/>
        <result property="price" column="price"/>
    </resultMap>

</mapper>